#ativa  o mecanismo de rescrita do Apache
RewriteEngine On
 
 #Define o caminho base para todas as regras
RewriteBase /innovaclick/public
 
RewriteCond %{REQUEST_FILENAME} !-f 
 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !\.(css|js|jpg|jpeg|png|gif|bmp|ico|svg|woff|woff2)$ [NC]
 
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

#^(.*)$: É uma expressão regular que captura qualquer coisa após o domínio
 